@import "./config/Theme.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  text-decoration: none;
  transition: all 2ms ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.App {
  width: $wfull;
  height: $hfull;
  display: flex;
  .Navbar {
    display: flex;
    justify-content: center;
    min-width: 220px;
  }
  .Main {
    width: 100%;
    padding: 20px;
  }
}
